<configuration>
  <system.webServer>
    <rewrite>
      <rules>
	 <!-- Redirect HTTP to HTTPS -->
        <rule name="HTTP to HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect non-www to www -->
         <rule name="Redirect to www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^mgandpartners\.com$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://www.mgandpartners.com/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Existing rule for your application -->
        <rule name="myapp">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode node_env="production" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
  </system.webServer>
  
  <location path="" overrideMode="Deny">
    <system.webServer>
      <handlers>
        <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
